* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main {
  width: 100%;
  display: grid;
}
.main nav {
  display: grid;
  height: 15vh;
  width: 100%;
  grid-template-columns: 30% 70%;
  background-color: rgb(209, 152, 9);
  color: white;
}
.main ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  height: 15vh;
  width: 15vw;
}
.gallery {
  background-color: rgb(39, 37, 37);
  color: goldenrod;
  height: 85vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.lhr{
  color: white;
}
.text {
  display: grid;
}
.text h1 {
  display: grid;
  font-size: 60px;
}
.text p {
  font-size: 25px;
  color: white;
  justify-self: center;
}
/* Responsive */
@media only screen and (max-width: 500px) {
  .main nav {
    height: 10vh;
  }
  .main ul li {
    font-size: 12px;
  }
  .logo img {
    height: 10vh;
    width: 30vw;
  }
  .text h1 {
    display: grid;
    font-size: 50px;
    justify-self: center;
  }
}
@media only screen and (max-width: 390px) {
  .main nav {
    height: 10vh;
  }
  .logo img {
    height: 10vh;
    width: 30vw;
  }
  .text h1 {
    display: grid;
    font-size: 40px;
    justify-self: center;
  }
}
